{% extends "base.html" %}
{% block body %}

<div class="custom_img" width="33%">
<img class="img-container" src="{{url_for('static', filename='profile.png')}}" title="profile" padding="10">
</div>

<div>
<p>Hi there! I'm Jonathan. I'm currently an undergraduate at UC Berkeley majoring in Electrical Engineering and Computer Science. I currently work in two different research labs at Berkeley, the <a href="https://biomaterials.berkeley.edu">Healy Lab</a> and the <a href="https://automation.berkeley.edu">Goldberg Lab</a>. My work in the Healy Lab revolves around designing a cheap and accurate point-of-care device to enumerate CD4+ T-cell blood counts in HIV-positive individuals. My work in the Goldberg lab centers around developing a novel haptic device to render slip forces calculated from a virtual environment and interactions. When I graduate in Spring 2015, I will work at <a href="https://fitbit.com">Fitbit, Inc.</a> as a research software prototyper. </p>

<p> I am interested in the intersection of computer science and medicine. More specifically, I'm excited about the potential that engineering and computer science have to revolutionize the field of medicine, particularly in the fields of surgical robotics, point-of-care devices, and computational biology. </p>
</div>

{% endblock %}