<!doctype html>
<title>Jonathan Kim</title>

<link rel=stylesheet href="{{ url_for('static', filename='skeleton.css') }}">
<link rel=stylesheet href="{{ url_for('static', filename='custom.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon_source.png')}}" type="image/x-icon"/>
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

<div class="container has-docked-nav">

    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">          
          <li class="navbar-item"><a class="navbar-link" href="/contact">Contact</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/blog">Blog</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/resume">Resume</a></li>          
          <li class="navbar-item"><a class="navbar-link" href="/projects">Projects</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>
        </ul>
      </div>
    </nav>
    <p></p>
    <div align="right">
      <h1>Jonathan Wonwook <b>Kim</b> </h1>
    </div>
    <hr class="rule">

    {% block body %}{% endblock %}

    <hr class="rule">
    <div class="footer">
      <div class="table">
        <ul class="navbar-list-footer">
          <li class="navbar-item-footer"><a class="navbar-link" href="https://github.com/jonkim93">Github</a></li>
          <li class="navbar-item-footer"><a class="navbar-link" href="https://www.linkedin.com/in/jonathanwkim">LinkedIn</a></li>
          <li class="navbar-item-footer"><a class="navbar-link" href="https://www.facebook.com/jonkim93">Facebook</a></li>
        </ul>
      </div>
    </div>

</div>