{% extends "base.html" %}
{% block body %}

<div>
	<p>
		I enjoy writing, and semi-regularly maintain a <a href="jonkim93.tumblr.com">tumblr</a> with my musings on faith, human interaction, and whatever other thoughts that happen to pop into my mind.
	</p>
	<p>
		I was trained in classical piano from ages 8 to 18, and I currently play in my church's worship band. When I have time I try to <a href="https://soundcloud.com/jonathanwkim">record</a> a little bit.
	</p>
	<p>
		I ran track and cross-country in high school (mile PR: 4:53, 3-mile: 16:01), and in 2012 I ran the SF marathon to raise money for my church's mission team, which was working in Cambodia to help build an orphanage as well as rescue women from the sex trade. I ended up raising over $800 for that cause and finishing the marathon in 3 hours 17 minutes. I still love to run, and dream of one day completing an ultra marathon.
	</p>

	<p>
		I love reading, particularly sci-fi and fantasy. I've read the Lord of the Rings trilogy 7 times, <i>Ender's Game</i> 9 times, <i>Dune</i> 5 times...you get the idea. I'm always looking for <a href="https://goodreads.com/jonkim93">book recommendations</a>! Right now I'm taking a class on Pulitzer prize winners, and have read (and highly recommend!): <i>The Road</i> by Cormac McCarthy, <i>The Brief Wondrous Life of Oscar Wao</i> by Junot Diaz, <i>A Visit from the Goon Squad</i> by Jennifer Egan, and <i>Olive Kitteridge</i> by Elizabeth Strout.
	</p>
</div>


{% endblock %}