{% extends "base.html" %}
{% block body %}

<div class="container">

  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="four columns"><a class="navbar-link" href="/haptic_slip_display"> Haptic Slip Display</a></div>
    <div class="four columns"><a class="navbar-link" href="/cell_sorter">Cell Sorter</a></div>
    <div class="four columns"><a class="navbar-link" href="/raven">Raven</a></div>
  </div>
  <div class="row">
    <div class="four columns"><a class="navbar-link" href="/fitbit">Fitbit Challenges</a></div>
  </div>

</div>

{% endblock %}