{% extends "base.html" %}
{% block body %}

<div class="container">

  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="four columns">
    	<div class="img-plus-caption">
    		<a href="/projects/haptic_slip">
    			<img class="img-container" src="{{url_for('static', filename='haptic_slip_img.png')}}" >
    		</a>
    		<a class="img-link" href="/projects/haptic_slip">Haptic Slip Display</a>
    	</div>
	</div>
    <div class="four columns">
    	<div class="img-plus-caption">
    		<a href="/projects/cell_sorter">
 	   			<img class="img-container" src="{{url_for('static', filename='cell_sorter_img.png')}}">
	   		</a>
    		<a class="img-link" href="/projects/cell_sorter">Cell Sorter</a>
    	</div>
    </div>
    <div class="four columns">
    	<div class="img-plus-caption">
    		<a href="/projects/fitbit_challenges">
	    		<img class="img-container" src="{{url_for('static', filename='fitbit_challenges_img.png')}}">
    		</a>
    		<a class="img-link" href="/projects/fitbit_challenges">Fitbit Challenges</a>
    	</div>
    </div>
  </div>
  <div class="row">
    <div class="four columns">
    	<div class="img-plus-caption">
    		<a href="/projects/raven"> 
    			<img class="img-container" src="{{url_for('static', filename='raven_img.png')}}">
			</a>
    		<a class="img-link" href="/projects/raven_debridement">Raven Debridement</a>
    	</div>
    </div>
    <div class="four columns">
    	<div class="img-plus-caption">
    		<a href="/projects/raven_leap_motion">
    			<img class="img-container" src="{{url_for('static', filename='.png')}}">
    		</a>
    		<a class="img-link" href="/projects/raven_leap_motion">Raven + LeapMotion</a>
    	</div>
    </div>
  </div>

</div>

{% endblock %}