{% extends "base.html" %}
{% block body %}

<p>Download a pdf version of my resume <a href="{{url_for('static', filename='resume.pdf') }}">here</a>.</p>

<div class="docs-section">
	<h6 class="docs-header">EDUCATION</h6>
	<p class="hanging-indent">University of California, Berkeley<br>
	B.S. Electrical Engineering and Computer Science, May 2015<br>
	Relevant Coursework:
	<ul>
		<li>CS170: Algorithms</li>
		<li>CS176: Computational Biology</li>
		<li>CS188: Artificial Intelligence</li>
		<li>CS189: Machine Learning</li>	
	</ul>
	</p>
</div>

<div class="docs-section">
	<h6 class="docs-header">HONORS AND AWARDS</h6>
	<ul>
		<li>Berkeley SURF Conference 2013, 1st Place Poster Competition</li>
		<li>Eta Kappa Nu (EECS Honors Society) - inducted Spring 2012</li>
		<li>Tau Beta Pi (Engineering Honors Society) - inducted Fall 2012</li>
		<li>National Merit Scholarship (2011)</li>
		<li>Eagle Scout Award (2010)</li>	
	</ul>
</div>

<div class="docs-section">
	<h6 class="docs-header">RESEARCH EXPERIENCE</h6>
	<ul>
		<li><b>Biomaterials and Tissue Engineering Lab</b></li>
		<li><b>Berkeley Automation Lab</b></li>
	</ul>
</div>

<div class="docs-section">
	<h6 class="docs-header">INDUSTRY EXPERIENCE</h6>
	<p><b>Fitbit, Inc</b> May 2014-August2014 
		<ul>
			<li>Regularly pushed high-quality Java code ro production as a vital member of a 6-person site engineering team</li>
			<li>Contributed to the execution and rollout of social features for fitbit.com</li>
			<li>Designed and implemented a backend feature collating Fitbit users in the same geographical location</li>
		</ul>
	</p>
</div>

<div class="docs-section">
	<h6 class="docs-header">REFEREED CONFERENCE PUBLICATIONS</h6>
	<ul>
		<li class="hanging-indent"><a class="custom_link"><b>A Haptic Slip Feedback Device Using Interwoven Belts for Displaying Lateral and Torque Slip.</b></a> C. Ho*, <b>J. Kim</b>*, K. Goldberg. IEEE Symposium on Haptics, 2015 (Accepted). *The paper states, <i>"These two authors contributed equally to the work."</i>
		<li class="hanging-indent"><a class="custom_link" href="http://rll.berkeley.edu/raven/debridement.html"><b>Autonomous Multilateral Debridement with the Raven Surgical Robot.</b></a> B. Kehoe, G. Kahn, J. Mahler, <b>J. Kim</b>, et al, International Conference on Robotics and Automation (ICRA), 2014.
		<li class="hanging-indent"><a class="custom_link" href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=5977900&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D5977900"><b>Ultrasonic Microparticle Trapping by Multi-Foci Fresnel Lens.</b></a> Y. Choe, <b>J. Kim</b>, K.K. Shung, E.S. Kim. IEEE International Frequency Control Symposium, 2011.
	</ul>
</div>


<div class="docs-section">
	<h6 class="docs-header">REFEREED JOURNAL PUBLICATIONS</h6>
	<ul>
		<li class="hanging-indent"><a class="custom_link" href="http://www.ncbi.nlm.nih.gov/pubmed/22247566"><b>Microparticle Trapping by Ultrasonic Bessel Beam.</b></a> Y. Choe, <b>J. Kim</b>, K.K. Shung, E.S. Kim,  Applied Physics Letter, 2011.
	</ul>
</div>

<div class="docs-section">
	<h6 class="docs-header">SKILLS</h6>
	<p><b>Proficient in: </b>Java, Python, Ruby, Android, ROS, OpenCV, Arduino </p>
	<p><b>Familiar with: </b>Javascript, Flask, Unity, HTML, CSS, C#, C++, Solidworks, PCB Layout, Soldering</p>
</div>

{% endblock %}